<!DOCTYPE html>
<html>
    <head>
        <title>
            Tech Forum
        </title>
        <link rel="stylesheet" href="/c/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="/c/angular-block-ui.css" type="text/css" />
    </head>
    <body>
        <div ng-controller="RootController as rootCtrl" style="width:100%;">
            <app-header></app-header>
            <div ng-view class="container" style="width:98%;">

            </div>
        </div>
        <script type="text/javascript" src="/s/libs/require.js" data-main="/s/app/main"></script>
    </body>
</html>